@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf');
}

body {
    background-color: #171717;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.glow {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 290px 200px rgba(63, 73, 83, 0.15);
    pointer-events: none;
}

@media screen and (max-width: 1024px) {
    .glow {
        display: none;
    }
}
